.course tr,
.course th {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

/* as per world-of-warcraft, apparently 
   cf. <http://gamedev.stackexchange.com/questions/46463/is-there-an-optimum-set-of-colors-for-10-players>
   */
.red { background-color: red; }
.blue { background-color: blue; }
.teal { background-color: teal; }
.purple { background-color: purple; }
.yellow { background-color: yellow; }
.orange { background-color: orange; }
.green { background-color: green; }
.pink { background-color: pink; }
.grey { background-color: grey; }
.lightblue { background-color: lightblue; }
.darkgreen { background-color: darkgreen; }
.brown { background-color: brown; }

li {
    line-height: 24px; 
}


/*

body {
background-color: #EAEAEA;
color: #535353;
font: 62.5% "Verdana",sans-serif;
text-align: center;
}

dark: #065432;
medium: #00914D;
light: 6FBA00;

*/
