# draft posts
_drafts

# hardlinks for papers.json generation
_papers

# generated site
_site

# mirage droppings
/.mirage.container
_mirage/_build
_mirage/key_gen.ml
_mirage/myocamlbuild.ml
_mirage/*.opam
_mirage/Makefile
_mirage/.mirage.config
_mirage/static*.ml
_mirage/static*.mli
_mirage/main.*
_mirage/mortio*
