<div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar="">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">{{ title }}</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <li><a href="/blog">blog</a></li>
            <li><a href="/research">research</a></li>
            <li><a href="/teaching">teaching</a></li>
            <li><a href="/codes">codes</a></li>
            <li><a href="/me">me</a></li>
        </section>
    </nav>
</div>
